
.card {
    width: 20%;
    padding: 10px;
    background: lightblue;
    box-sizing: border-box;
}

.card:hover {
    background: brown;
}

.title {
    font-weight: bold
}

.overview {
    height: 100px;
    overflow: scroll;
    background: aqua;
}